//- doctype html
//- html(lang="en")
//-     head
//-         meta(charset="UTF-8")
//-         meta(http-equiv="X-UA-Compatible", content="IE=edge")
//-         meta(name="viewport", content="width=device-width, initial-scale=1.0")
//-         title #{pageTitle}
//-         link(rel="stylesheet", href="/css/main.css")
//-         link(rel="stylesheet", href="/css/form.css")
//-         link(rel="stylesheet", href="/css/product.css")
        

//-     body
//-         header.main-header
//-             nav.main-header__nav 
//-                 ul.main-header__item-list
//-                     li.main-header__item
//-                         a.main-header__item(href="/") Shop
//-                     li.main-header__item
//-                         a.main-header__item(href="/product") Product
//-                     li.main-header__item
//-                         a.main-header__item(href="cart") Cart
//-                     li.main-header__item
//-                         a.main-header__item(href="/add-product") Add Product
//-                     li.main-header__item
//-                         a.main-header__item(href="Admin-Product") Admin Product  
 
//-         main
//-             .grid
//-               form.product-form(action="/add-product" method="post")
//-                     .form-control
//-                       label(for="title") Title  
//-                       input(type="text" name="title" )#title
//-                     .form-control
//-                       label(for="imageUrl") Image Url 
//-                       input(type="text" name="imageUrl" )#imageUrl
//-                     .form-control
//-                       label(for="price") Price  
//-                       input(type="number" name="price" step="0.01")#price
//-                     .form-control
//-                       label(for="description") Description
//-                       textarea(name="description" rows="5" )#description 
//-                     button.btn(type="submit") Add Product